.colorred{
	color: #FF0000
}
.color-white{
	color: white;
}
.size30{
	font-size: 30px;
}
.italic{
	font-style: italic;
}
.font700{
	font-weight: 700;
}
.right{
	text-align: right;
}
.center{
	text-align: center;
}
.underline{
	text-decoration: underline;
}
.overline{
	text-decoration: overline;
}
.line-through{
	text-decoration: line-through;
}
.shadow{
	text-shadow: 3px 3px 3px #696969
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.downercase{
	text-transform: downercase;
}
.ident{
	text-indent: 50px;
}
.letter-spacing{
	letter-spacing: 2px;
}
.word-spacing{
	word-spacing: 5 px;
}
.white-space{
	white-space: nowrap;
}
.line-height{
	line-height: 20px;
}
.padding{
	padding: 0px 50px;
	border: 3px solid #000;
}
.border {
	border: 3px solid #000;
}
.image1{
	width: 100px;
}
.image2{
	width: 200px;
}
.image3{
	width: 300px;
}
.image4{
	width: 400px;
}
.image5{
	width: 500px;
}
.image6{
	width: 600px;
}
.image7{
	width: 700px;
}
.image8{
	width: 800px;
}
.image9{
	width: 900px;
}



.dark:hover{
	color: blue;
}
.darkp:hover{
	color: blue;
}
.dark {
	color: gray;
	font-size: 50px;
	text-align: center;
}
.darkp {
	color: gray;
	text-align: center;
}



.string{
	font-size: 20px;
}
body{
	background: url('../img/sitephone.jpg') center/cover no-repeat, url('../img/sitephone2.jpg') center no-repeat;
}
.navbar {
	position: fixed;
	top: 35%;
}
.navbare {
	position: absolute;
	top: 35%;
}
a {
	text-decoration: none;
}
a:hover {

	color: #00008B;
}

.navbar li{
	list-style-type: none;
	font-size: 30;
	margin: 0px 0px 30px 0px;
	line-height: 15px;
}
.navbar li:before{
	content: '';
	
}

.navbar li:hover {
	color: red;
}
.navbare li{
	list-style-type: none;
	font-size: 30;
	margin: 0px 0px 30px 0px;
	line-height: 15px;
}
.navbare li:before{
	content: '';
	
}

.navbare li:hover {
	color: red;
}

.list li{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	background: url('../img/li.png') 530px no-repeat;
	padding: 0px 0px 0px 550px;
}
.page (
	background: url('../img/li.png') 530px no-repeat;
)

.aboutus{
	font-size: 30;
}
#googleForm {
	text-align: center;
}
#vk_groups {
	text-align: center;
}
#block1 {
float: left;
display: block;
width: 300px;
margin: 2px;
}

#block2 {
float: left;
display: block;
width: 300px;
margin: 2px;
}
.formsp{
	font-size: 30px;
	text-align: center;
}
