<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Модель сайта</title>
		<link rel="stylesheet" href="css/0001.css" />
	</head>
	
	<header>
		<dir class="navbar">
		<a href ="index.html">Главная</a> 
		<a href ="#list">Каталог</a>
		<a href ="#works">Портфолио</a>
		<a href ="contacts.html">Контакты</a>
		<br />
		<br />
		<br />
		
		</dir>
		<h1 class="center">Заголовок сайта<br />Подзаголовок</h1>
		<p>Описание вашего товара, компании или услуги</p>
	</header>
	
	<body>
		
		<h2 class="center">Название компании</h2>
		<p class ="center padding">Сюда вы можете дополнительно добавить описание для вашей компании, сюда вмещается очень много текста, поэтому можно в подрбностях рассказать посетителям сайта о том, чем вы занимаетесь или что продаете. Если это поле не заполнится, то до следующей якорной ссылки будет оставлено нужное количество отступов.</p>
		<h2 class="center">Обо мне</h2>
		<p class ="center padding">Вы можете добавить еще несколько полей с заголовком, если не можете заполнить одно. Во втором можно рассказать, например о вас, о том почему покупателям стоит сделать такой выбор.</p>	
		<h2 class="center">Еще одно поле</h2>
		<p class ="center padding">Здесь вы можете написать еще что-нибудь просто, чтобы ценное место не пропадало. Если вам все же нечего писать, остальное место будет заполнено пропусками</p> <br />	
		
		
		<center>
		<p class="size30"><a name="list">Каталог</a></p>
		<p>[Это сообщение отображается только в шаблоне] В якоре "каталог" вы можете разместить список своих товаров. Если это нужно, можно убрать несколько из них(минимумм 3) и добавить (максимум 210)</p>
		<div id="block1"><h2 class="orange">Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div>
		<div id="block2"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div>
		<div id="block2"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div> <br /> <br /> <br />
		<div id="block1"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div>
		<div id="block2"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div>
		<div id="block2"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div> <br /> <br />
		<div id="block1"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div>
		<div id="block2"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div>
		<div id="block2"><h2>Наименование товара</h2><p>Здесь вы можете разместить<br />Три строки-описания вашего товара<br />Или услуги</p><a href="#">Купить</a></div> <br /> <br /> <br />
		</center>
		<br />
		<br />
		<br />
		
		<p class="size30 center">Портфолио<a name="works">
	
		</a></p>
		<p class="center">Сюда можно будет добавить фотографии ваших работ. Или эта часть страницы будет удалена</p>
	</body>
	<footer>
		<h2 class="size30 center">Как связаться со мной</h2>
		<p class="center none">Номер телефона: +1 234 567 89 10</p>
		<p class="center none">Электронная почта: doqsobaka@yourdomain.dom</p>
		<p class="center none">Страница ВКонтакте: vk.com/fmegg</p>
		
		</p class="center">Design & site by: <a href="https://vk.com/fmegg">FME PROGRESSIONS</a> </p>
	</footer>
</html>