<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Модель сайта</title>
		<link rel="stylesheet" href="t.css" />
	</head>
	
	<header>
		<dir class="navbar">
		<a href ="index.html">Главная</a> 
		<a href ="#list">Каталог</a>
		
		<br />
		<br />
		<br />
		
		</dir>
		<h1 class="center">Верстка сайтов<br />FPROGRESS</h1>
		<p>Здесь вы можете заказать шаблонный либо кастомный сайт.</p>
	</header>
	
	<body>
		
		<center><h2 class="size30">Виды сайтов</h2></center>
		<div><div id="block1"><h2 class="orange">Шаблонный сайт</h2><p>Сайт по одному из шаблонов<br />Стоимость<br />790 руб.</p><a href="..\Templates\Yellow Template(0001)/index.html">Просмотреть шаблон</a></div>
		<div id="block2"><h2>Кастомный сайт</h2><p>Сайт по вашему желанию<br />Стоимость<br />1.790 руб.</p><a href="#">Просмотреть шаблон</a></div></div>
		</center>
		<br /> <br /> <br /> <br /> <br /> <br />
		<center><dir><p class="size30"><a name="list">Каталог шаблонов:</a></p></center>
		<div id="block1"><h2 class="orange">Лимонный фреш #0001</h2><p><br />Сайт для интернет-магазина<br />или для личной продажи</p><a href="..\Templates\Yellow Template(0001)/index.html">Просмотреть шаблон</a></div>
		<div id="block2"><h2>Строгий минимализм #0002</h2><p>Сайт-визитка<br />Для компании<br /></p><a href="#">Просмотреть шаблон</a></div>
		<div id="block2"><h2>Скоро Новый Дизайн #0003</h2><p>Совсем скоро!<br />Приходите завтра, может<br />дизайн уже вышел!<br /></p><a href="#">Просмотреть шаблон</a></div></dir> <br /> <br /> <br />
	</body>
	<footer>
		<h2 class="size30 center">Как связаться со мной</h2>
		<p class="center none">Электронная почта: slivki.com@ya.ru</p>
		<p class="center none">Страница ВКонтакте: <a href ="https://vk.com/fmegg">https://vk.com/fmegg</a></p>
		
	</footer>
</html>